[2021-06-30 18:34] dschuurman opened #1 "We need a "how to" for those who want to contribute DOCX labs"
Can we include a 1 page "how-to" explaining how to upload new labs from a DOC-X file?

thanks!

[2021-06-30 18:35] kcarnold opened #2 "Need a template for new labs"
Related to #1.

[2021-06-30 21:01] kcarnold opened #3 "Landing page "readme" text"
It's currently Lorem Ipsum.

I think @LoriCarter has something written.

[2021-06-30 21:01] kcarnold opened #4 "About page"
It's currently blank.

[2021-06-30 21:02] kcarnold opened #5 "Authors metadata is missing on labs"
In the first few lines, "TODO" should be replaced by the actual author (or something like "Integrated Ethics Labs Team")

[2021-06-30 21:03] kcarnold opened #6 "Lab list is not discoverable"
- [x] a link to some lab should be visible without scrolling
- [x] the "Labs" link on the navbar should work

[2021-06-30 21:04] kcarnold opened #7 "Remove "module" and "ethics" from lab titles"

[2021-07-01 17:40] rpruim opened #8 "Crate/Improve Data Viz lab"
Possible resource: https://medium.com/multiple-views-visualization-research-explained/data-is-personal-what-we-learned-from-42-interviews-in-rural-america-93539f25836d

[2021-07-01 17:46] rpruim opened #9 "General Resources dump"
This is a place where we can drop general resources related to the Integrated Ethics project.

[2021-07-01 17:48] rpruim commented on #9
https://arxiv.org/pdf/2001.07649.pdf

This is a paper by some Smith faculty about integrating ethics into a major.

Also see the Teaching > Ethics section of https://smithcollege-sds.github.io/sds-www/ for some modules they have created.

[2021-07-01 18:02] rpruim commented on #9
Here is a link to a data ethics break out session at USCOTS: https://www.causeweb.org/cause/uscots/uscots21/4g-data-ethics-why-where-and-how

[meeting_saved_chat.txt](https://github.com/integrated-ethics/labs/files/6749990/meeting_saved_chat.txt)

Shared notes: https://docs.google.com/document/d/1Wt-_dmqVipKUSvutDcXUPNsqLSe0SR-TaG-VLh0a14c/edit#heading=h.ppwu4p95aqi

Resources shared among the cha

[2021-07-01 18:15] rpruim opened #10 "Applications topics to be written"
* [ ] surveillance technology
* [ ] facial recognition
* [ ] privacy
* [ ] unintentional harm
* [ ] group work
* [ ] individualism (with cultural contexts)
* [ ] fragility of ML
* [ ] data viz
* [ ] survey design
* [ ] understanding data provenance
* [ ] transparent analysis choice
* [ ] presenting statistical analysis to lay people (more generally: communicating technical topics to a variety of a

[2021-07-01 18:17] rpruim commented on #10
Edit the comment above to add things to the list.  Use the checkboxes to indicate that a lab has been drafted.  We can create individual issues for specific labs as well (see the data viz issue, for example).  I copied the list above off of the board in the room where we met, so it is likely missing some things.

[2021-07-02 16:34] rpruim opened #11 "Purchase domain name and connect to the website"
Currently under consideration:

* integratedethics.org
* integratedethicslabs.org

Note, if we go with the former, the URL for the labs would likely be

* integratedethics.org/labs

[2021-07-02 16:34] rpruim opened #12 "Create style sheet/theme for web site"

[2021-07-02 16:38] rpruim opened #13 "Create a "how to contribute" page"
Once we go live, we should have information for people who are interested in contributing.  That means deciding some things related to that.

At a minimum, we could simply have people who are interested email Lori.

[2021-07-02 16:39] rpruim opened #14 "Create email addresses (with forwarding)"
Once we have a domain name, we can set up emails like

info@integratedethics.org

team@integratedethics.org

etc.

Need to decide which emails we want and who should receive them.

[2021-07-02 16:42] rpruim opened #15 "Draft email(s) announcing web site and decide where to send them."
We can keep a list of places to make the announcement here.  (Edit to add recipients to the list.)
Check the box when the email has been sent.

* [x] isostat (rjp, 2021-07-30)
* [x] American Statistical Association section on data science and statistics education (rjp, 8/2/2021)
* [x] MAA SIGMAA StatEd (rjp; 8/3/2021)
* [ ] ACMS
* [ ] CS Christianity (Lori)
* [ ] SIGSCE (??)
* [ ] American Scienti

[2021-07-02 16:43] rpruim commented on #1
See also #13

[2021-07-02 16:55] rpruim commented on #12
Do we want to do this ourselves?  I might be able to hire my son to help create some visual identity.  (He does this sort of thing as part of his work.)

[2021-07-02 17:04] rpruim commented on #12
Elements for our style/theme

* [ ] font(s)
* [ ] colors
* [ ] h1/h2/h3 (h4?)
* [ ] any special divs/spans?

[2021-07-02 17:22] dschuurman commented on #15
Other possible venues:
-Christian Scholars Review blog (via an article by Lori et al.)
-CS-Christianity listserve
-ASA Facebook page
-Christian Engineering Society newsletter (if we include some engineering lab modules)
-CCCU channels

[2021-07-02 17:48] LoriCarter commented on #11
Catherine, Paul, and I like integratedethicslabs.org because we think it immediately points to science/tech

[2021-07-02 21:42] rpruim commented on #11
Keep in mind that if we get `integaratedethics.org`, we can do things like

* `labs.integratedethics.org`
* `integratedethics.org/labs`

I'm still going back and forth on this one.

[2021-07-02 23:19] LoriCarter commented on #3
The introduction I wrote is in the shared drive. I did not put it into a sub-folder, but it is finished as far as I am concerned

[2021-07-02 23:21] LoriCarter opened #16 "Create a primer lab for those who want to use it before using an individual course-related lab"

[2021-07-02 23:24] LoriCarter commented on #16
I revised the "A First Look at Ethics for Computer and Data Science" lab to be a homework assignment to be used either prior to a stand-alone lab or before the Virtue Ethics lab for the year one curriculum

[2021-07-05 20:04] rpruim opened #17 "Create short code for citation info"
It will be a stub for now until we decide how to do the citation.

[2021-07-05 22:47] rpruim opened #18 "Set up netlify for site"
Todo:
* [x] Set up account and connect to github repo
* [x] Configure comments (Disqus)
* [ ] Investigate getting free upgrade account for small non-profits
* [x] Connect to domain name (once we have it)
* [ ] Other configuration?
* [ ] Decide if/where we want to have comments on our site.

https://wonderful-fermi-8c4db8.netlify.app/

[2021-07-06 01:16] paulschmelzenbach commented on #3
Added Lori's content to landing page

[2021-07-06 03:01] rpruim commented on #3
I'm not sure whether that belongs there or not.  I had already dropped it here: https://wonderful-fermi-8c4db8.netlify.app/labs/intro-to-labs/ -- ~~but that seems to have gone away~~ (my bad, I missed a file in the commit process).

We have some things to figure out about the site organization, but I'm not sure that a detailed description of what is in the labs, how to use them, and an overview of

[2021-07-06 03:12] rpruim opened #19 "Design landing page"
We want the landing page to give some information about the project and invite people to the rest of the site.  An eye-catching image would be great too.

For now, we have the text from #3, but that is also in a separate post about using the lab materials.

[2021-07-06 03:12] rpruim commented on #3
Closing in favor of #19.

[2021-07-06 03:12] #3 closed, assigned to LoriCarter

[2021-07-06 03:25] rpruim commented on #12
I've figured out where to put various elements of a style/theme and tweaked a few things (fonts, colors) as a POC.  Now we need to decide what we really want it to look like.  Do we like the font choices currently in use? Need to keep looking?  How about the mostly black/white color scheme?

[2021-07-06 03:29] rpruim commented on #18
I've linked the site to Disqus and dropped in the short code at the end of the list of labs on the labs/ page just so we can see what it looks like.  Still have to decide if we want this sort of thing and if so, how it should be configured.

[2021-07-06 03:32] rpruim commented on #6
I'm going to close this for now since we have something minimally meeting these criteria.  We can re-open or open a new issue regarding exactly what we want on the labs/ page.

Note:  I edited the list.html layout template so that only labs with a publishdate before the current date and after 2021-07-01 will be listed.  This gives us a way to keep things off the list until we are ready.  Edit the

[2021-07-06 03:32] #6 closed, assigned to nobody

[2021-07-06 03:37] rpruim commented on #2
Template should include things like `publishdate` and `draft`.  See #6.

[2021-07-06 03:55] paulschmelzenbach commented on #12
In discussions with Lori and Catherine a key feature (which is currently met) is to allow for an easy cut and paste into a document and be ready to print. It is generally looking good in my opinion.

[2021-07-06 14:11] rpruim commented on #12
Just to make sure I'm understanding correctly, do you mean copy-and-paste from the website into something else (like Word) -- as opposed to copy-and-paste *to* the website?  Assuming yes, that is a good thing to check.  I think we will also have Word docs pre-created for download and editing; at least that was the plan.  But if copy-and-paste works well, that might not be needed.

[2021-07-06 14:27] rpruim commented on #7
I think this is done:

[code]

[2021-07-06 14:27] #7 closed, assigned to nobody

[2021-07-06 14:28] rpruim commented on #7
But note: I did not make changes in the google docs yet.  Depending on the eventual workflow, maybe I closed this too soon.

[2021-07-06 14:30] rpruim commented on #17
@LoriCarter, @ccrocke1 : Is there anything we can site at this point?  Perhaps the ACMS talk from 2019?

[2021-07-06 14:33] rpruim commented on #9
Another possible resource: The Montreal AI Ethics Institute: https://montrealethics.ai/

(They might also be an example to look at when designing our splash page -- see #19.)

[2021-07-06 15:18] paulschmelzenbach commented on #12
Yes, the first meaning, so a user can quickly go from the web page content (for instance highlighting the student handout part) and paste it into a Word-like program.

This feature would be helpful to promote maximum usability even with a downloadable word doc. Though, I will add, this thinking came from being a bit unclear if the user-ready downloadable Word doc was in the "great idea" or "essent

[2021-07-06 15:21] rpruim opened #20 "Test/Improve mobile experience"
Currently the top menu isn't great on a phone.  There may be other issues as well.  Needs more testing as we continue to develop the site.

[2021-07-06 15:25] rpruim commented on #12
I think that eventually we will want the student handouts to be completely removed from the instructor page.  That will make it even easier.  Instructors could even just send students to the lab sheet directly.  I'm imaging that that section get replaced by links to various formats: HTML (for sure), Word (likely), and perhaps PDF.  (We could eventually make nicely laid out PDFs rather than simply

[2021-07-06 15:25] rpruim commented on #12
But I'm glad to hear that copy-and-paste from web to Word worked reasonably well.

[2021-07-06 15:26] rpruim commented on #12
We could also make the R Markdown files available.  For R users, that would provide them a lot of flexibility to modify things.

[2021-07-06 16:21] rpruim opened #21 "Decide where to locate the links to student handouts"
At least two possibilties:

1) Near the top so that it is easy to find them when you navigate to the info page for a lab.
2) Near the bottom so you force instructors to at least scroll through the for instructors info.

I think I lean toward 1).  Do others have thoughts?

Now that I write this, I wonder how often it will be better to have seen the student handout *before* reading through the instr

[2021-07-06 16:24] rpruim opened #22 "Do we want a date to display on the labs?"
We can use `publishdate` to control when things become visible in our lists.  Do we want a visible date on the lab pages themselves?

[2021-07-06 16:31] rpruim opened #23 "Create a writing style guide"
Especially as we have multiple authors we may want to have a bit of a writing style guide for things like

* Oxford comma?
* Trailing punctuation in list environments?
* dataset or data set?
* data = plural?
* etc/etc/etc/

It would be nice when editing documents to have a go to place to find that answers to these things.  We could let it grow/evolve as we keep working.

[2021-07-06 16:33] rpruim commented on #23
My votes on items above (in order of strength of preference):

* Oxford comma: YES
* data = PLURAL
* trailing punctuation: yes?
* data set

[2021-07-06 16:37] rpruim opened #24 "Approve web version of data cleaning lab"
As a prototype, I'm going to edit the data cleaning lab

[2021-07-06 18:04] rpruim commented on #24
Some notes as I went through the student worksheet part:

* [x] "bad" data?  Is that a good term?
* [ ] Not sure it belongs here, but the distinction between clean and tidy is important.
* [x] **field** is not a commonly used term in statistics.  The usual term is **variable**.  I think **field** is primarily used in the context of some databases (but I'd like to be reinforced on that feeling).  T

[2021-07-06 18:40] LoriCarter commented on #24
Yep! Written by a computer scientist! Feel free to make it correct for a data scientist

[2021-07-06 18:53] rpruim commented on #24
Notes from Instructors page

* [x] I think 'replicate' is more commonly used than 'duplicate' in this context.  Does someone have evidence to the contrary?  (I know it is that way in the circles I'm in.)
* [x] Regarding outliers: It might be good to add some more discussion about the use of the word "outlier".  It seems to be used here to mean "extreme value".  Every distribution has smallest and

[2021-07-06 18:54] rpruim commented on #24
@LoriCarter, I'll do a little tweaking of the issues list.  But we may not want to lose the current list.  Does it appear in some other labs?  [I could imagine this list appearing in multiple labs, perhaps with slightly different versions depending on the focus of the lab or the intended students.]

[2021-07-06 21:18] rpruim commented on #24
I've edited the issues list.  I'll push shortly.  Here are some comments.

Here is the previous version for reliability:

**Reliability**: Ensuring that one's work is consistently functional as specified through adequate testing/duplication with a variety of users.

As written, it doesn't work so well for data analysis.  Ideally I'd like something that works equally well for computer and data scie

[2021-07-07 13:41] rpruim commented on #24
You can find the full issues list at https://wonderful-fermi-8c4db8.netlify.app/labs/data-cleaning/data-cleaning-worksheet/ or in the corresponding place in the repo.

@kcarnold, we should chat about

* the best way to handle multiple versions of a lab sheet.  I have placeholder links for Word, PDF, and Rmd, but I haven't investigated how best to deal with this in blogdown.
* formatting of the HTM

[2021-07-09 16:35] ccrocke1 commented on #24
Hi!
Quick answer to the last question:
professional citizenship: is contributing voice and opinion within one's
expertise regarding the ethicality of the work of those  around them.
(dramatic example: Sally Clark's case in UK).

Professional ethics:  contributing one's best effort in the workplace while
respecting one's peers and upholding the requirements of one's employer and
the discipline's ov

[2021-07-09 18:29] rpruim commented on #24
Are these canonical terms?  I find them confusing since citizenship seems like it should be about more than just "contributing voice and opinion... regarding ethicality".  In fact, if the terms and definitions were swapped, it would make as much or more sense to me.

The mathematics side of me says it doesn't matter what words we use as long as we define them.  The pedagogy side of me thinks that

[2021-07-09 18:31] rpruim commented on #24
Just to be clear -- I did see the definitions.  I'm just trying to figure out (a) exactly what distinction is being made and (b) whether we have the right names for the distinction.

[2021-07-09 19:16] rpruim opened #25 "rename repo"
I've renamed the repo "web".  I've found it confusion to have that name of the repo match one of the folders inside it, and since this is the repo that we are using to generate the website, `web` seemed like a good enough name.

This shouldn't really affect much, but you may want to rename it to match on your system.

[2021-07-10 00:08] rpruim opened #26 "Use pagecat: lab for labs"
In order to easily identify labs, let's use a page category for them.  Just put

[code]
in the YAML header.  The list of labs will only select items with this category.

[2021-07-10 13:39] rpruim commented on #26
Also pagecat: worksheet for the worksheets

[2021-07-10 13:44] rpruim opened #27 "Edit/format virtue ethics lab"
This is basically done and this lab is now listed on the labs page.

@LoriCarter, take a look and see what you think.

A couple things I changed:

* I added a new section called "Changing it up".  We could add that to other labs as well to give suggestions about how to modify the lab.
* I made it more discipline agnostic.  It didn't seem to me that having the assignment be a "programming" assignme

[2021-07-10 13:47] rpruim opened #28 "create lab-list shortcode and partial"
This makes it easy to drop in a list of available labs wherever we want the list.

[2021-07-10 13:48] rpruim commented on #28
To use the short code:

[code]

[2021-07-10 13:48] #28 closed, assigned to rpruim

[2021-07-10 13:53] rpruim opened #29 "Add short bios and photos for contributers?"
Do we want a page with this sort of info?  Currently I have a list of our names on the About page, but that's all.

[2021-07-10 13:53] #25 closed, assigned to nobody

[2021-07-12 13:52] rpruim opened #30 "Select site branding (logo(s), fonts, colors, etc.)"
My son has offered to give us a little bit of help here.  I put one of his logo drafts on the website to give it a try.  There are several other things that can be done using elements of this logo.  (I don't have files for those, but I've seen them on his screen.)

![image](https://user-images.githubusercontent.com/722231/125298157-e6160600-e2f5-11eb-807f-1ae3ef5ab881.png)

That graphical element

[2021-07-12 13:58] rpruim commented on #12
I'm going to close this in favor of #30 since the discussion here moved away from actual branding and I think we have mostly dealt with the things discussed here.

[2021-07-12 13:58] #12 closed, assigned to kcarnold, rpruim

[2021-07-13 16:22] rpruim commented on #11
It looks like `integratedethicslabs.com` and `integratedethicslabs.org` are both available.  .com is actually a touch cheaper.  We can grab either one for 10 years for approx. $100 at namecheap ($80 for .com and $116 for .org).  Do we have a preference between the two?

Looks like email forwarding is free and netlify handles SSL.

[2021-07-13 16:25] ccrocke1 commented on #11
Thank you for looking into this. I like either one.

[2021-07-13 16:34] LoriCarter commented on #11
I'd probably choose .org. The .com sounds like a business!

[2021-07-14 01:37] rpruim commented on #11
We are live at https://integratedethicslabs.org/

I may need to reconfigure it, however.  Netlify recommends using their DNS, but if I do that, it looks like namecheap can't/won't allow us to set up email aliases.  So I may need to convert back to using the namecheap domain name servers.

[2021-07-14 02:12] rpruim commented on #11
I found a free service that provides email forwarding using netlify's DNS:

* https://app.improvmx.com/domains/integratedethicslabs.org/dns

I've set up a few aliases, including `info@` (@LoriCarter and @ccrocke1) and `webmaster@` (@rpruim).  I'll send a test email shortly.

Let me know if there are other alias we want and where they should forward.

[2021-07-14 02:16] #11 closed, assigned to rpruim

[2021-07-14 13:28] rpruim commented on #11
It would probably be a good idea to have at least one more person able to access namecheap.  The instructions for sharing admin duties are at https://www.namecheap.com/support/knowledgebase/article.aspx/192/46/how-do-i-share-access-to-my-domain-with-other-users/.  The first step is for the other admin(s) to create an account at namecheap.  If you want to be one of the admins, let me know once you

[2021-07-16 12:52] rpruim commented on #17
I've added and styled a citation/attribution block.

[2021-07-16 12:52] #17 closed, assigned to rpruim

[2021-07-16 12:53] rpruim commented on #27
@LoriCarter , if you are good with my changes, we can close this issue.

[2021-07-16 17:08] LoriCarter commented on #27
Looks good to me.
Lori

On Fri, Jul 16, 2021 at 5:53 AM Randall Pruim ***@***.***>
wrote:

--
Lori Carter, Ph.D.
Professor of Computer Science
Point Loma Nazarene University
3900 Lomaland Dr. San Diego, CA 92106
(619) 849-2352

[2021-07-17 05:04] rpruim commented on #19
A landing page has been stubbed out.  Currently it has the same photo 3 times -- that needs to be changed -- but it shows a general layout and design.

The logo has been updated as well, as has the font for headers and the colors.

We're getting there.

[2021-07-19 17:19] rpruim commented on #19
More updates.  We now have multiple photos and the layout does better on a small screen (e.g., a phone).

I should probably have the top menu convert to a "hamburger" when the screen is small.  Other than that, I think the landing page is useable.

[2021-07-19 23:40] rpruim opened #31 "Find photos for use on web site"
I've been finding photos on unsplash (https://unsplash.com/).  You can create a free account there if you are interested in finding photos.  These are free to use.  There are other sources of photos we could use as well.

You can see some photos I've collected at https://unsplash.com/collections/zZ0T8YxOT2I/integrated-ethics, bug I don't think you can add to that collection.  (Feel free to crate y

[2021-07-19 23:41] rpruim commented on #19
Hamburger menu implemented.  With that, I'll close this issue.  We can open a new issue if we discover bugs or have ideas for different design elements.

[2021-07-19 23:41] #19 closed, assigned to nobody

[2021-07-19 23:43] rpruim commented on #30
Current version of logo

![image](https://user-images.githubusercontent.com/722231/126241155-5f17a74e-20c8-4a00-8369-6379b46fc71a.png)

[2021-07-19 23:44] rpruim commented on #30
I think we have the basics of branding in place.  We can, of course, revisit some elements of this.  Colors are the easiest to adjust.

[2021-07-19 23:44] #30 closed, assigned to nobody

[2021-07-19 23:48] rpruim opened #32 "remove date from worksheet pages"
This is probably just a distractor on those pages.  We can leave the date on the instructor-facing pages.

[2021-07-19 23:51] rpruim opened #33 "improve 404 page"
We currently just have the default 404 page from hugo/blogdown.

[2021-07-19 23:53] rpruim commented on #22
We've answer this "no".  See #32.

[2021-07-19 23:53] #22 closed, assigned to nobody

[2021-07-19 23:54] rpruim commented on #21
I didn't get much feedback here.  I'm going to leave these links at the top as they are in the couple labs we have posted so far.

[2021-07-19 23:54] #21 closed, assigned to rpruim

[2021-07-20 00:05] rpruim commented on #32
done.

[2021-07-20 00:05] #32 closed, assigned to rpruim

[2021-07-20 00:24] rpruim opened #34 "Create a "progressive approach" page"
The home page has a read more link for such a page, but we need to write the content and create the page.

[2021-07-20 00:27] rpruim opened #35 "Create Data Viz Lab(s)"
There is an early draft of a data viz lab in the google drive that might serve as a starting point.

[2021-07-20 00:29] rpruim commented on #35
I suspect we may end up with more than one lab/worksheet here. I'm guessing he original audience @ccrocke1 imagined was CS students who don't spend a lot of time on data viz.  But DS and Stat students will be using and creating data visualizations much more frequently and should be encouraged to think more deeply.

I'm still trying to wrap my head around what makes this an ethics worksheet and not

[2021-07-21 21:19] rpruim opened #36 "Approve web version of deontology lab"
I've made a few minor revisions after importing from Google.

A few things that are more than cosmetic:

* [x] new title for the worksheet
* [x] slight rewriting of task and instructions

Some questions:

* [x] Who is the author?
* [x] Some items from the ACM code of ethics are listed, but there is no direction on the worksheet about what to do with them or why they are there?
* [x] Should we have

[2021-07-21 21:24] rpruim opened #37 "Approve web version of Why ethics lab"
This is mostly a direct transfer from the word doc, I think.

* [x] @LoriCarter, @ccrocke1 : check this box when you are satisfied.

Side note: I made edits in the word doc so it can serve as an example of how to format the Word docs so that they convert better.

[2021-07-22 00:54] ccrocke1 commented on #36
Hi Everyone!
Here are my two cents:

I'm fine with the first two items ( I like worksheet title and rewriting of
task & instructions)

For the next part,

authors:  I think it's Lori and possibly our students- Morgan & Whitney?
Lori - do you remember?

directions as to what to do with ACMS- there are directions in the
instructions, do you want me to write some directions to go on handout ?

ASA- I

[2021-07-22 01:04] ccrocke1 commented on #37
Looks good to me.

[2021-07-22 01:37] rpruim opened #38 "Approve web version of Media Literacy lab"
This one was a little trickier to convert and could perhaps use a bit more formatting.

In addition to splitting out the student reading assignment, I've split out the courtroom scenario.

[2021-07-22 02:24] #37 closed, assigned to LoriCarter, ccrocke1

[2021-07-22 02:34] rpruim opened #39 "Approve web version of "first look" lab"
This was mostly a reformatting.

Questions:
* [ ] In the list of virtues, a couple seem out of place: Provide for others, Sustainability.  I know what is meant, but they don't feel like character traits the way the others on the list do.  For most, you can fill in the blank: How does person X demonstrate their _____.  The blank doesn't work for these two.
* [ ] Also, I think this list doesn't matc

[2021-07-22 03:30] rpruim opened #40 "Approve web version of utilitarianism lab"
I've made a handful of edits and restructured things a little bit on this one.

[2021-07-22 03:31] rpruim commented on #40
This lab description includes a number of references.  We might like to use markdown's system for dealing with references and store the bibliography info a bibtex file.

[2021-07-22 03:49] rpruim commented on #36
Regarding authors, perhaps @LoriCarter and @ccrocke1 can make a pass through all of the available labs and add/check/update authors.

[2021-07-22 03:51] rpruim opened #41 "Add links to labs on the labs-overview page"
Right now it is just text.

Might also add coming soon notices for items still in process.

[2021-07-22 20:48] rpruim opened #42 "Approve web version of open source accessibility lab"
Notes:
* Reading assignment and group discussion are separate items
* I created a short code for the virtues list, so we can easily place that list on any page and any edits to the list will affect all the pages where it appears.
* I removed some of the scaffolding for the assignment questions.
* I numbered the questions to be answered.  I think this makes it easier to locate them (and to avoid mi

[2021-07-22 23:46] rpruim opened #43 "Approve web version of hospitable code lab"
I did a bit more editing of this one to
* make the flow and instructions clearer (at least to me)
* take advantage of the web format (tabsets for different programming languages, for example)
* make it clearer that the two versions are mainly about whether students have the code in electronic form or not.
* eliminate the instruction to "paste code below".  I'm not sure where that was to be, but th

[2021-07-22 23:56] #4 closed, assigned to nobody

[2021-07-22 23:59] rpruim commented on #14
We have info@, webmaster@ and team@.  (Actually, we have team-pointloma@ and team-calvin@ as well.)

Feel free to use these to communicate with the team.  The first two are listed on the about page as well.

[2021-07-22 23:59] #14 closed, assigned to rpruim

[2021-07-23 00:00] #34 closed, assigned to rpruim, ccrocke1

[2021-07-23 00:00] #26 closed, assigned to rpruim

[2021-07-23 00:02] rpruim commented on #27
@LoriCarter , @ccrocke1 : I'll close this.  But for the other issues of the "Approve some lab..." flavor, just go ahead and close the issue once you are satisfied with how things look.  (Or leave comments if there are things that need doing.)

[2021-07-23 00:02] #27 closed, assigned to rpruim

[2021-07-23 00:06] rpruim commented on #2
I've created a "for authors" folder in our google drive and in there I've put a document describing how to create labs in docx format.

[2021-07-23 14:03] rpruim opened #44 "Approve web version of avoiding algorithmic bias"
I found this one a bit confusing, especially when trying to just scan it and figure out what the outline was.  This one should be checked a bit more carefully to make sure I haven't messed anything up.

* There is an "alternative online" version, but (a) I don't see what it is alternative to nor why it needs to be online.  I've just made that the main worksheet.
* The worksheet only had 2 of the 3

[2021-07-23 14:18] rpruim opened #45 "Use markdown citation and bibtex bibliography rather than hand drafting citations"
See #40 for another reference to this issue.  Also #44.

Advantages of using a citation system:
* less duplication
* consistent formatting
* automatic link generation

Not sure if we need to use RMarkdown or whether the plain Markdown suffices.

There is already an example of this in pubs.Rmd

[2021-07-23 14:21] rpruim commented on #15
Has anyone been working on this?  I'm wondering if we can send out the email blast next Monday.

[2021-07-23 15:58] rpruim commented on #33
The custom 404 page is now being served.  Now we just need to decide what it should say.

[2021-07-23 16:08] rpruim commented on #33
I've create a simple 404 page with a button to send you to the home page.

[2021-07-23 16:08] #33 closed, assigned to nobody

[2021-07-23 16:59] rpruim opened #46 "Approve web version of Analogies/Plagiarism worksheet"
Some comments as I convert this over.

* There **are** an infinite number of computer programs -- even an infinite number that do the same thing.  This would even be true if you restricted to Turing machines.  So I've deleted the part about not being an infinite number of ways.
* table formatting could be improved, but I'm moving on to other things.  (We could open a separate issue for this if we

[2021-07-23 18:06] rpruim opened #47 "Approve web version of Core Values lab"

[2021-07-23 18:23] LoriCarter commented on #39
I added Rebecca as an author. Otherwise, looks good.

[2021-07-23 18:23] #39 closed, assigned to nobody

[2021-07-23 18:29] LoriCarter commented on #38
Looks fine to me. Thanks!!

[2021-07-23 18:29] #38 closed, assigned to LoriCarter, ccrocke1

[2021-07-23 18:41] ccrocke1 commented on #42
Looks good!

[2021-07-23 18:41] #42 closed, assigned to ccrocke1

[2021-07-23 18:55] LoriCarter commented on #36
I made some changes including adding authors and adding a task to perform with the ACM code. You could certainly add a similar exercise with the ASA code.
I do think AI decision making is an ethical issue in that it is choosing the "right thing to do."
The lab introduces deontology and reviews virtue ethics. It shows that sometimes a set of rules is helpful, but sometimes it is too constraining.

[2021-07-23 19:15] LoriCarter commented on #44
Randy,
Sorry for the confusion here. The online version was meant as a stand-alone assignment if the module could not be completed in a live class. We should have removed it. The only thing that students need if the module is done in class is a copy of the scenario assigned to their group. Other things, as you noted, are redundant.

If you want to find a better defniition of AI, feel free. It made

[2021-07-23 19:25] LoriCarter commented on #44
This is definitely an example of "I wrote it so it makes sense to me!" Thank you for checking it. The flow should be
Class discussion on college entrance algorithm
Students go to groups and discuss what went wrong in their scenario and why it went wrong
Students come back to class and look through EU guidelines as a class
Students go back to group and discuss either college admissions scenario or

[2021-07-23 19:26] ccrocke1 commented on #43
The handout was created for a completely online version of the course.  The instruction for "paste code below" (I believe) was just to ask students submit a copy of their improved code in a discussion post -like setting (for us- we use the discussion/ peer review feature in our LMS).

Edits look good.

[2021-07-23 19:26] #43 closed, assigned to ccrocke1

[2021-07-23 19:26] rpruim commented on #44
So how does my version of things look to you?

[2021-07-23 19:38] LoriCarter commented on #44
The main lab part looks good. The student handout should be reduced to the three scenarios and perhaps the EU guidelines. The rest is redundant.

[2021-07-23 19:40] ccrocke1 commented on #46
Yes- I do agree there could be an infinite number of computer programs that do the same thing. I think the thought behind that one was , to a freshman- writing is creative & lots of possible variations, where as a program can seem more like a recipe or a set of instructions. But, you are correct- there are infinite ways.

Let me know if there is a better way to format the table.

[2021-07-23 19:41] rpruim commented on #44
Looking for a definition of AI could lead to an infinite search.  But here is an interesting post: https://www.forbes.com/sites/bernardmarr/2018/02/14/the-key-definitions-of-artificial-intelligence-ai-that-explain-its-importance/?sh=6bef5584f5d8

[2021-07-23 19:43] rpruim commented on #44
I would suggest leaving the "redundant stuff".  It is only redundant if the instructor follows the pre-activity flow in the guide, and even then it doesn't hurt to have those initial questions even if students already discussed them before getting the handout.  Besides, deletion is the easiest kind of edit.

Perhaps I'll make a separate version that just has the three scenarios for instructors who

[2021-07-23 19:56] rpruim commented on #46
The table formatting may be limited by Markdown.  (There are add-ons that make other things possible, but I'm not sure which are available to us in this system.

For full flexibility, we could just crate the table using HTML.

Interestingly, the auto-conversion of the table to Markdown did not work properly -- presumably because it assumed some format of table code that isn't supported in our syst

[2021-07-23 19:59] rpruim commented on #46
As for the infinite number of programs, this is an important mistake to avoid since it comes up in discrete mathematics or the study of models of computation -- CS majors should understand that although the alphabet is finite, if the length is not limited, then there are an infinite number of strings/programs.

[2021-07-24 00:03] rpruim commented on #41
I've created a short code for this, so it will be relatively easy to adjust the formatting.  Currently using italics for the title and a font-awesome icon for the link.

[2021-07-24 00:03] #41 closed, assigned to rpruim

[2021-07-24 00:05] rpruim commented on #5
I think this is mostly taken care of now.  @LoriCarter and @ccrocke1 may be adding authors to some labs, but I think all the labs we have declared ready for prime time have at least one author.

[2021-07-24 00:05] #5 closed, assigned to ccrocke1

[2021-07-24 00:06] rpruim commented on #18
I'm moving this to pre-fall goals since the most important configuration is completed and the remaining things are less urgent.

[2021-07-24 00:35] rpruim commented on #36
Regarding *ethical issues*.  If I look at the other labs, I see things like Accessibility, Transparency, Diversity, etc.  These seem to me to be in a different category from AI decision making, which feels more like an application area to me than like a general ethical principle.

[2021-07-24 00:39] rpruim opened #48 "Improve table formatting"
The markdown tables in, for example, Analogies/Plagiarism (see #46) don't format as nicely as we might like.

We could convert to HTML or see if we can figure out a better solution in the markdown.

[2021-07-24 00:41] rpruim commented on #20
I've implemented a hamburger menu for small devices, and the home page works well on smaller devices as well.

I'm closing this for now.  We can open new issues to address specific issues related to screen size if/when they arise.

[2021-07-24 00:41] #20 closed, assigned to rpruim

[2021-07-24 01:15] rpruim opened #49 "Add more to resources page"

[2021-07-24 02:50] rpruim commented on #45
I've made some good progress here.  Notes:

* It appears that this only works when using Rmd or Rmarkdown (even though there isn't really any R involved).
* There is supposed to be an option of nocite: '@*' to make a bibliography of all items, but I can't get that to work.  I wanted to add that to the resources page.

I'm using this now for a couple of the labs and intend to keep doing things this

[2021-07-24 02:53] rpruim commented on #40
References are done using bibtex now.

[2021-07-26 15:06] ccrocke1 commented on #47
Approved- looks good

[2021-07-26 15:06] #47 closed, assigned to LoriCarter, ccrocke1

[2021-07-26 15:24] ccrocke1 commented on #40
Approve!

[2021-07-26 15:24] #40 closed, assigned to LoriCarter, ccrocke1

[2021-07-26 16:06] ccrocke1 commented on #46
Two items-
1. student handout link for markdown goes to 404- Not Found.
2. It doesn't look like my edits for the original document ( in this case word doc .docx) is getting pulled over.  For example: I changed module to lab- this wasn't pulled over. (edit was made before 7/21)
3.

[2021-07-26 16:31] ccrocke1 opened #50 "links to some labs not working & markdown for student handouts missing."
Hi Randy, I noticed a couple of the links in the ie: Labs Overview are not working. ( Sorry if you are already aware & I'm just repeating).

* [x] Link for student handout Markdown version gives a 404: Not Found message for the following labs-
Why Ethics?
A first look...
Utilitarianism
Analogies
Hospitality
Avoiding Algorithmic Bias- long version & scenarios (EU AI Guidelines- is fine)
Open Source

[2021-07-26 16:56] rpruim commented on #46
Link is fixed.  We have files of at least three potential types: .md, .Rmd, and .Rmarkdown.  I had the wrong extension for this example.

[2021-07-26 17:02] rpruim commented on #46
I did a more global search for the word module and change it to lab in several of the files.  Can you spot other things that look like they indicate that this lab was converted for the web from the wrong docx?  Depending on how much needs changing, we will have to decide how to address the issues.  If there are only relatively minor things that need changing, we can just do those in the markdown.

[2021-07-26 17:06] ccrocke1 commented on #46
It was only small changes - so I just did them.
I was wondering if I did something wrong on my side of things.

[2021-07-26 17:17] rpruim commented on #46
Looks like you did thing correctly.  You can see your edits here:

https://github.com/integrated-ethics/web/commit/fe36613b08001ca805679bc6d5369a0b9aa193e2#diff-58cb54888399bcac921c41dd027a1781bd33b54872e9af5da9d080b6b241c984

You can get there from the history link after you navigate to a file.  Then you can select any commit to see what changed at that commit.

[2021-07-26 17:25] ccrocke1 commented on #46
Thanks for verifying!

On Mon, Jul 26, 2021 at 10:17 AM Randall Pruim ***@***.***>
wrote:

--
Catherine Crockett, Ph.D.
Professor of Mathematics
Mathematical, Information and Computer Sciences
Point Loma Nazarene University
3900 Lomaland Drive
San Diego, Ca 92106
619.849.2723
***@***.***

[2021-07-26 17:30] rpruim commented on #50
for utilitarianism: the link was correct, but the actual filename had a typo.  I've fixed.

for medial literacy and data cleaning, my regex global substitution choked on the extra parens in the title.  I've fixed.  (This should be a one time issue introduced by my change to using a shortcode to generate these titles and links.)

For the markdown links, I might write a shortcode so that this doesn'

[2021-07-28 16:18] rpruim opened #51 "Should we post our "wish list" of labs that we brainstormed but are not begin actively developed yet?"
We have a list (see #10, for example).  We could add these to our /labs-overview/ page (noting their status) to give people a sense for what might still come.  Or we can keep that list to ourselves or only reveal portions of it (perhaps things we are more committed to making happen in the next ~ 1 year).

Thoughts, anyone?

[2021-07-29 15:48] ccrocke1 commented on #51
I think your second suggestion- reveal portions of our wish list, as we see things unfold is the way to go.  Only list items we are more committed to making happen in the next year.

[2021-07-29 15:50] rpruim commented on #51
That seems like a reasonable approach.  Next question: Which future labs are we willing to list?  I suggest we create an issue for each lab we are planning to create and assign a person or people to it.  That will help us track progress.

[2021-07-29 15:59] ccrocke1 commented on #51
Since we need more data science & I plan on working on these by this fall-
if no one else has:

group work

data viz, probability & ethics, survey design, understanding data
provenance, etc.

[2021-07-29 16:01] ccrocke1 commented on #51
one more thought- we have engineering listed on the website- I would like
to get more up specifically for engineering ( not just software
engineering).
I do hope to help folks at PLNU ( or open to anyone else) write these, but
I don't think I can do these on my own - it is way outside of my wheelhouse.

[2021-07-29 16:19] rpruim commented on #51
Regarding your list above:

* group work: I think @stacyderuiter expressed interest
* viz: I think @kcarnold  and I are interested in this.  (As might be a colleague of ours who is designing a data viz course for the MBA program at Calvin)
* probability and ethics: I'm teaching the first half of our prob/stats 2-semester sequence this fall, so this will be on my mind.  I've already reached out to

[2021-07-29 16:21] rpruim commented on #35
This is related to #8, which I'll close in favor of this one.

Here is a resource listed there: Possible resource: https://medium.com/multiple-views-visualization-research-explained/data-is-personal-what-we-learned-from-42-interviews-in-rural-america-93539f25836d

[2021-07-29 16:22] #8 closed, assigned to kcarnold, rpruim

[2021-07-29 16:23] rpruim opened #52 "Create probability and ethics lab"

[2021-07-29 16:25] rpruim opened #53 "Create survey design lab"
A possible resource here might be Neil Carlson from the Calvin Center for Social Research.

[2021-07-29 16:26] rpruim opened #54 "Create group work lab"

[2021-07-29 17:25] ccrocke1 commented on #36
I added questions 3 & 4 to student handout to make it clear what we are asking of them.

While I like the idea of including ASA code of ethics- I 'm not sure how to include in this activity that doesn't interrupt the flow & increase time.  However, I think we should add the ASA code of ethics to any lab dealing with data ( so data cleaning, data viz, etc.).

If you all don't mind- I checked the bo

[2021-07-29 17:25] #36 closed, assigned to LoriCarter, ccrocke1

[2021-07-29 17:28] rpruim opened #55 "Create version of deontology lab that uses ASA guidelines"
We have a version with ACM guidelines (see #36).  We could create a parallel one using the ASA guidelines.

[2021-07-29 17:41] rpruim commented on #50
Hand coded correct urls for now.

[2021-07-29 17:41] #50 closed, assigned to rpruim

[2021-07-29 19:55] rpruim opened #56 "Create a list of "It may be helpful to review the list of potential ethical issues in computing and data science""
The data cleaning lab, for example says:

issues in computing and data science below as you consider the exercises
below.

Perhaps we should create a page we can link to that lists these.

If so, the things enumerated as ethical issues considered in each lab should be included on the list.

[2021-07-29 20:14] rpruim commented on #56
Note: I should have made it clearer that the data clean lab does include a list of ethical issues in the lab worksheet.  So the main questions are

* Do we (also) want a separate page listing these that could be used for other purposes?
* Should this list match the implicit list formed by collecting all the issues mentioned in the instructor materials. Note: I don't the the same definition of "eth

[2021-07-29 20:15] rpruim commented on #51
I'll take care of adding these to our lab-overview.

[2021-07-29 20:38] rpruim commented on #56
I opted for a solution of creating a short-code for these.  This makes it easy to add the list to any worksheet we like, and also to a separate page just listing the ethical issues.

I'll make the stand-along page shortly.

[2021-07-29 21:44] rpruim commented on #24
I did another round of edits.  I think all of my check boxes have now been addressed at least somewhat.  Some of the broad strokes:

* More care about the term **outlier**.
* Much more caution about "filling in" values and a brief mention of imputation methods in the instructor notes.
* Less focus on *editing* bad data, more focus on *consequences*.

This could perhaps be improved a bit more by ma

[2021-07-29 21:44] #24 closed, assigned to rpruim, LoriCarter, ccrocke1

[2021-07-29 21:47] rpruim opened #57 "Create data provenance lab"

[2021-07-29 21:50] rpruim opened #58 "Do we need a "lab" to talk about what bias is?"
The word bias shows up in several places (avoiding algorithmic bias among them), but I find that people often use that word (a) without knowing exactly what they mean by it, or (b) in ways that are not completely consistent with how others use the term.  Furthermore, the "biased" gets used in everyday parlance to mean something more like "prejudiced".

So the question: Should we explicitly address

[2021-07-30 14:28] rpruim commented on #51
I've added some labs to the overview.  I'm going to close this, but @ccrocke1, if you can write a blurb for the data provenance lab, I'll add that one as well (or you can add it yourself -- just mimic the others).

[2021-07-30 14:28] #51 closed, assigned to rpruim

[2021-07-30 14:29] rpruim commented on #57
Also need a blurb for the overview page.

[2021-07-30 14:48] #46 closed, assigned to LoriCarter, ccrocke1

[2021-07-30 14:48] #48 closed, assigned to nobody

[2021-07-30 15:10] rpruim commented on #44
I've added this not to instructors:

Kaplan and Haenlein. In particular, many of the terms used in the definition do not have self-evident meanings, so it would probably be difficult to use this definition to decide whether something is or is not an example of AI. Try not to focus on the issue of defining AI -- keep the focus on the scenarios and the ethical issues they raise.

I'd still like to s

[2021-07-30 15:11] #44 closed, assigned to LoriCarter, ccrocke1

[2021-07-30 15:13] rpruim commented on #15
All of the other issues related to the public launch have now been closed.  I plan to send an email to isostat (Isolated Statisticians) today to get the ball rolling.

[2021-07-30 15:35] dschuurman commented on #15
@LoriCarter - can you send a note to the CS-Christianity listserve?

[2021-07-30 16:25] rpruim commented on #49
I've added a section with all of the references in our BibTex file (and a link to the bibtex source file).

Also added a link to the Stanford Encyclopedia of Philosophy.

[2021-07-30 19:33] rpruim opened #59 "Set up Google Analytics for web site"
I *think* I just set up Google analytics for our site.  We may need to tweak the set up at some point, but this should help us measure traffic and find out what parts of the site people are exploring.

[2021-07-30 19:34] rpruim commented on #59
If anyone has used google analytics before and has advice to share, let me know.

[2021-07-30 19:34] #59 closed, assigned to rpruim

[2021-07-30 19:35] rpruim commented on #15
I'm going to move this to Pre-Fall since (a) I've already sent one and (b) I want the initial launch milestone to be completed.

[2021-07-30 19:40] rpruim commented on #56
The stand-along page is here: https://integratedethicslabs.org/ethical-issues/ and can be referenced from any of the other labs.

To include the list inside another page, use the short code `{{% ethical-issues-list %}}`.

[2021-07-30 19:54] #56 closed, assigned to LoriCarter, ccrocke1

[2021-08-02 16:58] rpruim commented on #15
Here is a list of places to post.  Feel free to edit the list.  Check the box when the email has been sent.

* [ ] isostat (rjp, 2021-07-30)
* [ ] American Statistical Association section on data science and statistics education (rjp, 8/2/2021)
* [ ] ACMS
* [ ] CS Christianity (Lori)
* [ ] SIGSCE (??)
* [ ] American Scientific Affiliation (Derek?)

[2021-08-02 17:01] rpruim commented on #15
I moved the task list to the top.  Looks like GitHub only tracks them as tasks to be done if they are there.

[2021-08-02 18:02] rpruim commented on #49
As @kcarnold mentioned in email, in addition to adding more resources, we will need to decide how to organize them and what things to include.

[2021-08-02 20:31] kcarnold commented on #49
To start the discussion about what *kinds* of things to include:

* If people want resources like ours but different, we could link to related projects (ethicalcs.github.io, Harvard Embedded EthiCS)
* If people want a bigger picture of the tech ethics space, we can link to organizations, books (documentaries, and overview articles like the [ACM Selects](https://selects.acm.org/selections/why-algor

[2021-08-12 21:43] ccrocke1 opened #60 "some strangeness in editing."
Lori and I have tried at separate times to edit a sentence on the "Why Ethics" lab.  ( line 189 on the lab itself). We can correct it in the markdown version however after clicking  commit change and refreshing the page- the webpage version is not updated with the correction.  We have tried this on different days and log ins.

I'm not sure if something is amiss in the background?

[2021-08-12 22:07] rpruim commented on #60
If it is an r markdown file, then it wil need to be rebuilt. That will happen automatically the next time I do a pull.

The issue is the references. I have not had time to se if there is a way to get them to work the way I want in a plain markdown file, which would avoid this problem.

[2021-08-17 15:17] rpruim commented on #60
@ccrocke1 , can you check that the edits you wanted are now showing up?  If so, we can close this.

When I have time, I'd like to get references to work with out need RMarkdown.  That will make this work more seamlessly:  See #45.

[2021-08-17 15:20] rpruim commented on #45
The main to-do's here are

* [ ] remove need to use Rmarkdown (so web updates are less problematic, see #60)
* [ ] determine how to create multiple reference sections (using multiple bib files) on a single page.
* [ ] determine how to control the style of the references (in text and bibliography listing)

[2021-08-19 00:31] ccrocke1 commented on #60
Hi Randy, I tried new edits on the same line (189) and I see the edits in the markdown version , however when I go to the website to look at it I don't see the changes. I've hit refresh- no change. Is it taking longer to update? I'm sorry if it's user error!

[2021-10-11 17:22] ccrocke1 opened #61 "more labs for the website"
There are four more labs in the "Prime time" folder in the google drive that are already to go on the website.
Thank you!

[2022-05-26 14:46] rpruim opened #62 "Improve NYT bib reference in professional ethics lab"
bibtex reference is incomplete.  I don't have access to NYT to get the missing information.

[2022-05-26 15:06] rpruim opened #63 "Add slides describing the 3 frameworks (plus analagy)"
Some of the labs suggest that instructors create such a thing, so I've built some HTML slides that can be used.

[2022-05-26 15:15] rpruim opened #64 "Review recently added labs"
* [ ] Diversity in Design
* [ ] Hardware sustainability
* [ ] Digital Nudging
* [ ] Professional Ethics
* [ ] Transparency

[2022-05-26 16:14] #61 closed, assigned to rpruim, ccrocke1

[2022-06-01 15:13] rpruim commented on #63
I'm wondering how well this example works in the current climate: